@import "tailwindcss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --purple-500: #7c5dfa;
  --purple-200: #9277ff;
  --gray-600: #1e2139;
  --gray-400: #c1c1c1;
  --gray-100: #dfe3fa;
  --gray-200: #888eb0;
  --gray-300: #7e88c3;
  --black-900: #0c0e16;
  --red-200: #ec5757;
  --red-100: #9277ff;
  --BG-999: #f8f8f8;
  --background: #ffffff;
  --background: #ffffff;
  --btn: #b26eff;
  --gg: #ffffff;
  --text:#1f1f1f;
}

.dark {
  --gray-300: #8e9094;
  --gray-600: #363b54;
  --gray-400: #6b6c74;
  --background: #141625;
  --btn: #1d4eff;
  --BG-999: #10101e;
  --black-900: #f6f6f6;
  --gg: #151421;
  --text:#ececec;
}

body {
  background-color: var(--background);
  font-family: "League Spartan", sans-serif;
}